body {
    background-color: black;
}

video {
    background-color: grey;
    margin: 25px 20px;
}

.vertical-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-videos video {
    width: 390px;
}

#pursuit-concept {
    width: 310px;
}

.horizontal-videos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.horizontal-videos video {
    max-width: 1650px;
    width: 95%;
}
