body {
    background-color: black;
}

video {
    background-color: grey;
}

.video-container {
    margin: 25px 20px;
}

.vertical-videos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.vertical-videos video {
    width: 390px;
}

.vertical-videos .pursuit-concept video {
    width: 310px;
}

.horizontal-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.horizontal-videos video {
    width: 1610px;
    margin: 25px;
}
