<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <title>Kirill's projects</title>
</head>

<body>
  
  <div class="vertical-videos">
    <div class="video-container">
      <video muted controls playsinline loop>
        <source src="videos/ar-theatre.mp4" type="video/mp4">
      </video>
    </div>

    <div class="video-container">
      <video muted controls playsinline loop>
        <source src="videos/8thwall-webar.mp4" type="video/mp4">
      </video>
    </div>

    <div class="video-container">
      <video muted controls playsinline loop>
        <source src="videos/zemlekop-ar.mp4" type="video/mp4">
      </video>
    </div>
    
    <div class="video-container">
      <video id="ar-experiments" muted controls playsinline loop>
        <source src="videos/ar-experiments.webm" type="video/webm">
      </video>
    </div>
  </div>

  <div class="horizontal-videos">
    <video muted playsinline loop>
      <source src="https://user74522.clients-cdnnow.ru/static/manual-uploads/review-videos/xreal-demo.mp4" type="video/mp4">
    </video>
    <video muted playsinline loop>
      <source src="videos/editor-demo.mp4" type="video/mp4">
    </video>
    <video muted playsinline loop>
      <source src="https://user74522.clients-cdnnow.ru/static/manual-uploads/review-videos/object-tracking.mp4" type="video/mp4">
    </video>
    <video muted playsinline loop>
      <source src="https://user74522.clients-cdnnow.ru/static/manual-uploads/review-videos/orbslam2-demo.mp4" type="video/mp4">
    </video>
    
    <video muted playsinline loop>
      <source src="videos/bibalina-ar-learning.webm" type="video/webm">
    </video>
    <video muted playsinline loop>
      <source src="videos/gravican.mp4" type="video/mp4">
    </video>
    <video muted playsinline loop>
      <source src="videos/sniper.webm" type="video/webm">
    </video>
  </div>

  <div class="vertical-videos">
    <div class="video-container">
      <video muted playsinline loop>
        <source src="videos/arcade-idle.webm" type="video/webm">
      </video>
    </div>

    <div class="video-container">
      <video muted playsinline loop>
        <source src="videos/paint-ball.webm" type="video/webm">
      </video>
    </div>

    <div class="video-container">
      <video muted playsinline loop>
        <source src="videos/runner.webm" type="video/webm">
      </video>
    </div>

    <div class="video-container">
      <video id="pursuit-concept" muted playsinline loop>
        <source src="videos/pursuit-concept.webm" type="video/webm">
      </video>
    </div>
  </div>

  <script>
    document.querySelectorAll("video").forEach((video) => {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            video.play();
          } else {
            video.pause();
          }
        });
      },
      { threshold: 0.25 }
    );
    observer.observe(video);
});
  </script>
</body>

</html>
